h6 {
  padding-bottom: 0.5rem;
  font-size: 1.125rem;
  font-weight: 600;

  @media screen and (min-width:1024px){
    font-size: 1.25rem;
  }
}

a {
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
  color: var(--accent);
}

footer hr {
  box-shadow: 0 0 8px var(--accent);
}

.site-title {
  color: var(--accent);
  font-weight: 100;
  font-size: 12vw;
  letter-spacing: 2vw;
  text-shadow: 0 0 24px var(--accent);
}

.section-title {
  color: var(--accent);
}

.tinted-section {
  background-color: #CC83CB66;
}

.tinted-section-title {
  color: var(--primary);
}

.gallery-text {
  color: var(--accent);
  font-size: 10vw;
}